* {
  margin: 0;
  padding: 0;
}

body {
  background-color: yellowgreen;
  text-align: center;
}

.msg-container {
  height: 22vmin;
}

.hide {
  display: none;
}

#msg {
  color: red;
  font-size: 8vmin;
}

#new-btn {
  color: white;
  background-color: #191913;
  font-size: 1.25rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
}

h2 {
  font-size: 6vmin;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 5vmin;
}

.game {
  height: 60vmin;
  width: 70vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.6vh;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 4vmin;
  box-shadow: 3rem;
  border-color: black;
  font-size: 8vmin;
  color: brown;
  background-color: wheat;
  border-style: none;
}

#reset-btn {
  color: white;
  background-color: #191913;
  font-size: 1.25rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  margin-bottom: 6vmin;
}
#reset-btn.hide {
  display: none;
}
/* Small devices (up to 576px) */
@media (min-width: 576px) {
  .msg-container {
    margin-bottom: 15vmin; /* Adjusted for smaller screens */
  }
  .container {
    margin-bottom: 0vmin; /* Less negative margin 
    for better layout */
  }
}

/* Medium devices (577px to 1024px) - Covers tablets and Desktop Site Mode on mobiles */
@media (min-width: 577px) and (max-width: 1024px) {
  .msg-container#new-btn {
    margin-bottom: 10vmin;
  }
  .container {
    margin-top: 10vmin;
    margin-bottom: -60vmin;
  }
}

/* Specifically targeting Realme C31 in desktop mode */
@media (min-width: 721px) and (max-width: 1024px) {
  .msg-container#new-btn {
    margin-bottom: 12vmin;
  }
  .container {
    margin-top: 10vmin;
    margin-bottom: -70vmin;
  }
}

@media (min-width: 412px) and (max-width: 915px) {
  .container {
    margin-top: 10vmin;
    margin-bottom: -80vmin;
  }
  #new-btn {
    color: white;
    background-color: #191913;
    font-size: 1.12rem;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }
}
